ANTHROPIC_API_KEY=your anthropic key
DEEPSEEK_API=your deepseek key
GOOGLE_API_KEY=your google api key
VERTEX_API_KEY=your vertex api key
OPENAI_API_KEY=your open ai key
XAI_API_KEY=your xai key
HF_TOKEN=your hugging face token
MISTRAL_API_KEY=your mistal api key



